# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log

# Testing
coverage
.nyc_output
tests

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Images (we'll mount these as volumes)
original
optimized

# Documentation
README.md
*.md

# GitHub
.github

# Docker
Dockerfile*
docker compose.yml
.dockerignore